default-busy,
.default-busy {
  background: rgba(27, 32, 44, 0.6);
}

.ng-busy-default-wrapper .ng-busy-default-sign .ng-busy-default-spinner {
  animation: busy-spinner-anim 2s steps(36) infinite;
  background: url(https://static.eagleview.com/img/EV_Spinner.png) no-repeat top left;
  height: 60px;
  width: 60px;
}
.ng-busy-default-wrapper .ng-busy-default-sign .ng-busy-default-spinner .bar1 {
  transform: none !important;
  animation-delay: 0ms !important;
  all: unset;
}
.ng-busy-default-wrapper .ng-busy-default-sign .ng-busy-default-spinner .bar2 {
  transform: none !important;
  animation-delay: 0ms !important;
  all: unset;
}
.ng-busy-default-wrapper .ng-busy-default-sign .ng-busy-default-spinner .bar3 {
  transform: none !important;
  animation-delay: 0ms !important;
  all: unset;
}
.ng-busy-default-wrapper .ng-busy-default-sign .ng-busy-default-spinner .bar4 {
  transform: none !important;
  animation-delay: 0ms !important;
  all: unset;
}
.ng-busy-default-wrapper .ng-busy-default-sign .ng-busy-default-spinner .bar5 {
  transform: none !important;
  animation-delay: 0ms !important;
  all: unset;
}
.ng-busy-default-wrapper .ng-busy-default-sign .ng-busy-default-spinner .bar6 {
  transform: none !important;
  animation-delay: 0ms !important;
  all: unset;
}
.ng-busy-default-wrapper .ng-busy-default-sign .ng-busy-default-spinner .bar7 {
  transform: none !important;
  animation-delay: 0ms !important;
  all: unset;
}
.ng-busy-default-wrapper .ng-busy-default-sign .ng-busy-default-spinner .bar8 {
  transform: none !important;
  animation-delay: 0ms !important;
  all: unset;
}
.ng-busy-default-wrapper .ng-busy-default-sign .ng-busy-default-spinner .bar9 {
  transform: none !important;
  animation-delay: 0ms !important;
  all: unset;
}
.ng-busy-default-wrapper .ng-busy-default-sign .ng-busy-default-spinner .bar10 {
  transform: none !important;
  animation-delay: 0ms !important;
  all: unset;
}
.ng-busy-default-wrapper .ng-busy-default-sign .ng-busy-default-spinner .bar11 {
  transform: none !important;
  animation-delay: 0ms !important;
  all: unset;
}
.ng-busy-default-wrapper .ng-busy-default-sign .ng-busy-default-spinner .bar12 {
  transform: none !important;
  animation-delay: 0ms !important;
  all: unset;
}
.ng-busy-default-wrapper .ng-busy-default-sign .ng-busy-default-spinner .bar13 {
  transform: none !important;
  animation-delay: 0ms !important;
  all: unset;
}
.ng-busy-default-wrapper .ng-busy-default-sign .ng-busy-default-spinner .bar14 {
  transform: none !important;
  animation-delay: 0ms !important;
  all: unset;
}
.ng-busy-default-wrapper .ng-busy-default-sign .ng-busy-default-spinner .bar15 {
  transform: none !important;
  animation-delay: 0ms !important;
  all: unset;
}
.ng-busy-default-wrapper .ng-busy-default-sign .ng-busy-default-spinner .bar16 {
  transform: none !important;
  animation-delay: 0ms !important;
  all: unset;
}
.ng-busy-default-wrapper .ng-busy-default-sign .ng-busy-default-spinner .bar17 {
  transform: none !important;
  animation-delay: 0ms !important;
  all: unset;
}
.ng-busy-default-wrapper .ng-busy-default-sign .ng-busy-default-spinner .bar18 {
  transform: none !important;
  animation-delay: 0ms !important;
  all: unset;
}
.ng-busy-default-wrapper .ng-busy-default-sign .ng-busy-default-spinner .bar19 {
  transform: none !important;
  animation-delay: 0ms !important;
  all: unset;
}
.ng-busy-default-wrapper .ng-busy-default-sign .ng-busy-default-spinner .bar20 {
  transform: none !important;
  animation-delay: 0ms !important;
  all: unset;
}
.ng-busy-default-wrapper .ng-busy-default-sign .ng-busy-default-spinner .bar21 {
  transform: none !important;
  animation-delay: 0ms !important;
  all: unset;
}
.ng-busy-default-wrapper .ng-busy-default-sign .ng-busy-default-spinner .bar22 {
  transform: none !important;
  animation-delay: 0ms !important;
  all: unset;
}
.ng-busy-default-wrapper .ng-busy-default-sign .ng-busy-default-spinner .bar23 {
  transform: none !important;
  animation-delay: 0ms !important;
  all: unset;
}
.ng-busy-default-wrapper .ng-busy-default-sign .ng-busy-default-spinner .bar24 {
  transform: none !important;
  animation-delay: 0ms !important;
  all: unset;
}
.ng-busy-default-wrapper .ng-busy-default-sign .ng-busy-default-spinner .bar25 {
  transform: none !important;
  animation-delay: 0ms !important;
  all: unset;
}
.ng-busy-default-wrapper .ng-busy-default-sign .ng-busy-default-spinner .bar26 {
  transform: none !important;
  animation-delay: 0ms !important;
  all: unset;
}
.ng-busy-default-wrapper .ng-busy-default-sign .ng-busy-default-spinner .bar27 {
  transform: none !important;
  animation-delay: 0ms !important;
  all: unset;
}
.ng-busy-default-wrapper .ng-busy-default-sign .ng-busy-default-spinner .bar28 {
  transform: none !important;
  animation-delay: 0ms !important;
  all: unset;
}
.ng-busy-default-wrapper .ng-busy-default-sign .ng-busy-default-spinner .bar29 {
  transform: none !important;
  animation-delay: 0ms !important;
  all: unset;
}
.ng-busy-default-wrapper .ng-busy-default-sign .ng-busy-default-spinner .bar30 {
  transform: none !important;
  animation-delay: 0ms !important;
  all: unset;
}
.ng-busy-default-wrapper .ng-busy-default-sign .ng-busy-default-spinner .bar31 {
  transform: none !important;
  animation-delay: 0ms !important;
  all: unset;
}
.ng-busy-default-wrapper .ng-busy-default-sign .ng-busy-default-spinner .bar32 {
  transform: none !important;
  animation-delay: 0ms !important;
  all: unset;
}
.ng-busy-default-wrapper .ng-busy-default-sign .ng-busy-default-spinner .bar33 {
  transform: none !important;
  animation-delay: 0ms !important;
  all: unset;
}
.ng-busy-default-wrapper .ng-busy-default-sign .ng-busy-default-spinner .bar34 {
  transform: none !important;
  animation-delay: 0ms !important;
  all: unset;
}
.ng-busy-default-wrapper .ng-busy-default-sign .ng-busy-default-spinner .bar35 {
  transform: none !important;
  animation-delay: 0ms !important;
  all: unset;
}
.ng-busy-default-wrapper .ng-busy-default-sign .ng-busy-default-spinner .bar36 {
  transform: none !important;
  animation-delay: 0ms !important;
  all: unset;
}
.ng-busy-default-wrapper .ng-busy-default-sign .ng-busy-default-spinner .bar37 {
  transform: none !important;
  animation-delay: 0ms !important;
  all: unset;
}

@keyframes busy-spinner-anim {
  100% {
    background-position: 0 -2160px;
  }
}

/*# sourceMappingURL=spinner.css.map */
